body {
    font-family: 'Arial', sans-serif;
    direction: rtl;
    background-color: #f2f2f2;
}

.login-register-container {
    text-align: center;
    margin-top: 100px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
